@import "tailwindcss";

body {
  margin: 0;
  box-sizing: content-box;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
}

@keyframes loading {
  0% {
    max-width: 0;
  }

  50% {
    max-width: 200px;
  }

  100% {
    max-width: 0;
  }
}

.animate-loading {
  animation: loading 2.5s ease-in-out infinite;
}